@using System.Security.Claims;
@using System.Security.Principal;
@inject ApplicationContext applicationContext

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code
{
  protected override void OnParametersSet()
  {
    // TODO: remove when authn is implemented
    var identity = new ClaimsIdentity(new GenericIdentity("rocky@lhotka.net"));
    var principal = new ClaimsPrincipal(identity);
    applicationContext.Principal = principal;
  }
}