@namespace Threa.Client.Components.Shared

@using GameMechanics.Time.Calendars

<div class="row g-2">
    <div class="col-4">
        <label class="form-label small">Year</label>
        <input type="number" class="form-control" value="@year" @onchange="e => SetYear(e)" />
    </div>
    <div class="col-4">
        <label class="form-label small">Month (1-12)</label>
        <input type="number" class="form-control" value="@(month + 1)" @onchange="e => SetMonth(e)" min="1" max="12" />
    </div>
    <div class="col-4">
        <label class="form-label small">Day (1-30)</label>
        <input type="number" class="form-control" value="@(day + 1)" @onchange="e => SetDay(e)" min="1" max="30" />
    </div>
    <div class="col-4">
        <label class="form-label small">Hour (0-23)</label>
        <input type="number" class="form-control" value="@hour" @onchange="e => SetHour(e)" min="0" max="23" />
    </div>
    <div class="col-4">
        <label class="form-label small">Minute (0-59)</label>
        <input type="number" class="form-control" value="@minute" @onchange="e => SetMinute(e)" min="0" max="59" />
    </div>
    <div class="col-4">
        <label class="form-label small">Second (0-59)</label>
        <input type="number" class="form-control" value="@second" @onchange="e => SetSecond(e)" min="0" max="59" />
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public long EpochSeconds { get; set; }

    [Parameter]
    public EventCallback<long> OnChanged { get; set; }

    private long year, month, day, hour, minute, second;

    protected override void OnParametersSet()
    {
        (year, month, day, hour, minute, second) = StandardFantasyCalendar.DecomposeDateTime(EpochSeconds);
    }

    private async Task SetYear(ChangeEventArgs e) { year = ParseLong(e); await Recompose(); }
    private async Task SetMonth(ChangeEventArgs e) { month = ParseLong(e) - 1; await Recompose(); }
    private async Task SetDay(ChangeEventArgs e) { day = ParseLong(e) - 1; await Recompose(); }
    private async Task SetHour(ChangeEventArgs e) { hour = ParseLong(e); await Recompose(); }
    private async Task SetMinute(ChangeEventArgs e) { minute = ParseLong(e); await Recompose(); }
    private async Task SetSecond(ChangeEventArgs e) { second = ParseLong(e); await Recompose(); }

    private async Task Recompose()
    {
        var epoch = StandardFantasyCalendar.ComposeDateTime(year, month, day, hour, minute, second);
        await OnChanged.InvokeAsync(epoch);
    }

    private static long ParseLong(ChangeEventArgs e) =>
        long.TryParse(e.Value?.ToString(), out var v) ? v : 0;
}
